/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require roasts.css
 *= require_self
 */


body {
  /*background-image: url("http://www.jono111ca.com/promo/flatsum-html/assets/images/blog/street.jpg");
  background-repeat: no-repeat;
  background-size: 100%;*/
  text-align: center;
  background-position: fixed;
/*  color: rgba(20, 80, 170, 1);
*/  font-family: 'Libre Baskerville', serif;
}

nav {
  text-align: center;
  height: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.applicationnavbarul {
  margin-bottom: 0;
  height: 100%;
}
ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
}

#brand {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  line-height: 60px;

}

h1  {
  font-family: 'Poppins', sans-serif;
  font-size: 114px;
  font-style: bold;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 10px;
}

h2  {
  font-size: 54px;
  font-style: italic;
  margin-top: 0;

}

h3  {
 font-family: 'Poppins', sans-serif;
  font-style: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h6  {
  font-style: italic;
  margin-top: 0;
}

/*ROAST INDEX*/

.links {
  text-decoration: none;
  color: black;
}

/*ROAST SHOW*/
.container-fluid {
  border: 3px solid black;
}

.background-overlay {
  width: 40%;
}

/*ADMIN INDEX*/

.adminstyle {
  border-bottom: 5px solid black;
  margin-bottom: 30px;
}

